.lang-nav a, form, .navbar.transparent.navbar-inverse #text, select, .doctor-job, .doctor-school, .doctor-phone, .doctor-spec-title, .doctor-description {
  font-family: circe, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;
  color: #12104c;
}

input[type="submit"], input[type="reset"], button, .custAppDateModify {
  color: #12104c;
  border: none;
  cursor: pointer;
  outline: inherit;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: circe, sans-serif !important;
  font-weight: 400;
  border: 0.5px solid rgba(18, 16, 76, 0.3);
  border-radius: 30px !important;
  background-color: white !important;
  font-size: 14px !important;
}

input:hover[type="submit"], input:hover[type="reset"], button:hover, .custAppDateModify:hover {
  border-color: rgba(18, 16, 76, 0.7);
}

#mikrono {
  padding: 0%;
  height: 100%;
  width: 100%;
  margin: 0px;
  color: #12104c !important;
  font-family: circe, sans-serif !important;
  font-weight: 200 impotant !important;
  overflow: hidden;
}

#mikrono body {
  font-family: circe, sans-serif !important;
}

.x-customerAppsView .custAppType {
  color: inherit !important;
}

.custNextAppointments {
  color: inherit !important;
}

.x-form-group-label {
  pointer-events: none;
}

.x-form-cb-label {
  pointer-events: none;
}

input[type='radio'] {
  height: 15px !important;
  width: 50px !important;
  line-height: 15px !important;
  border-radius: 30px !important;
  border: 1px solid rgba(160, 160, 233, 0.3) !important;
}

input {
  padding: 5px !important;
}

.custSelectCustomer {
  background: rgba(160, 160, 233, 0.1) !important;
  font-family: circe, sans-serif !important;
  font-weight: 200 !important;
}

.custSelectOwner {
  background: rgba(160, 160, 233, 0.1) !important;
  font-family: circe, sans-serif !important;
  font-weight: 200 !important;
}

html {
  font-family: circe, sans-serif !important;
}

div {
  font-family: circe, sans-serif !important;
}

dl {
  font-family: circe, sans-serif !important;
}

dt {
  font-family: circe, sans-serif !important;
}

dd {
  font-family: circe, sans-serif !important;
}

ul {
  font-family: circe, sans-serif !important;
}

ol {
  font-family: circe, sans-serif !important;
}

li {
  font-family: circe, sans-serif !important;
}

h1 {
  font-family: circe, sans-serif !important;
}

h2 {
  font-family: circe, sans-serif !important;
}

h3 {
  font-family: circe, sans-serif !important;
}

h4 {
  font-family: circe, sans-serif !important;
}

h5 {
  font-family: circe, sans-serif !important;
}

h6 {
  font-family: circe, sans-serif !important;
}

pre {
  font-family: circe, sans-serif !important;
}

form {
  font-family: circe, sans-serif !important;
}

fieldset {
  font-family: circe, sans-serif !important;
}

p {
  font-family: circe, sans-serif !important;
}

blockquote {
  font-family: circe, sans-serif !important;
}

th {
  font-family: circe, sans-serif !important;
}

td {
  font-family: circe, sans-serif !important;
  padding: 5px !important;
}

.custModifyContacts {
  border-radius: 30px;
  border: 1px solid rgba(160, 160, 233, 0.3) !important;
}

.customerLabel {
  color: #12104c !important;
  color: #12104c !important;
  font-family: circe, sans-serif !important;
  font-weight: 400 impotant !important;
}

.custStepHeader {
  font-size: 14px;
  color: #12104c !important;
  font-family: circe, sans-serif !important;
  font-weight: 200 !important;
}

.custOdd {
  background: rgba(160, 160, 233, 0.1) !important;
  border-radius: 30px !important;
  margin-top: 20px !important;
  padding: 10px !important;
  color: #12104c !important;
  font-family: circe, sans-serif !important;
  font-weight: 300 !important;
}

.custOdd:hover {
  background: rgba(160, 160, 233, 0.3) !important;
}

.custEven {
  background: rgba(160, 160, 233, 0.1) !important;
  border-radius: 30px !important;
  margin-top: 20px;
  padding: 10px !important;
  color: #12104c !important;
  font-family: circe, sans-serif !important;
  font-weight: 300 !important;
}

.custEven:hover {
  background: rgba(160, 160, 233, 0.3) !important;
}

.custWarningContainer {
  background: white !important;
}

.freeslotList .custAppTime {
  color: rgba(18, 16, 76, 0.7) !important;
  font-weight: 300;
  margin-left: 20px;
}

.freeslotList .custAppDate {
  color: inherit !important;
  border-color: #12104c !important;
  font-weight: 400;
  padding: 6px 10px;
  width: 100%;
  border: #12104c solid;
  border-width: 0px 0px 1px 0px;
  text-transform: uppercase;
}

.freeslotList .x-customerAppsView {
  float: left !important;
  margin-bottom: 8px;
  border-width: 0px;
  padding: 5px 0px;
  margin-left: 10px;
  max-width: calc(100% - 30px);
}

.freeslotList .x-customerAppsView:hover {
  border: 1px solid rgba(18, 16, 76, 0.7) !important;
  background-color: #ffffff !important;
  color: #12104c !important;
}

.custSummaryValue {
  color: inherit !important;
  border-color: #12104c !important;
  font-size: 20px !important;
}

.x-view-item-over {
  background-color: white !important;
}

.custAppDate {
  background-color: white !important;
  font-weight: 200;
}

.x-view {
  background-color: #ffffff !important;
}

.custAskButton {
  background-color: #ffffff !important;
  border-radius: 30px;
  border: 1px solid rgba(160, 160, 233, 0.3) !important;
  color: #12104c !important;
  box-shadow: none;
  padding: 5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #12104c !important;
  font-family: circe, sans-serif !important;
  font-weight: 200 !important;
  margin: 10px;
}

.custAskButton:hover {
  color: #12104c !important;
  border: 1px solid rgba(18, 16, 76, 0.7) !important;
  background-color: #ffffff;
}

.custBookButton {
  background-color: #ffffff !important;
  border-radius: 30px;
  border: 1px solid rgba(160, 160, 233, 0.3) !important;
  color: #12104c !important;
  box-shadow: none;
  padding: 5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #12104c !important;
  font-family: circe, sans-serif !important;
  font-weight: 200 impotant !important;
  margin: 10px;
}

.custBookButton:hover {
  color: #12104c !important;
  border: 1px solid rgba(18, 16, 76, 0.7) !important;
  background-color: #ffffff;
}

.custQuit {
  background-color: #ffffff !important;
  border-radius: 30px;
  border: 1px solid rgba(160, 160, 233, 0.3) !important;
  color: #12104c !important;
  box-shadow: none;
  padding: 5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #12104c !important;
  font-family: circe, sans-serif !important;
  font-weight: 200 impotant !important;
  margin: 10px;
}

.custQuit:hover {
  color: #12104c !important;
  border: 1px solid rgba(18, 16, 76, 0.7) !important;
  background-color: #ffffff;
}

.custModifyPw {
  background-color: #ffffff !important;
  border-radius: 30px;
  border: 1px solid rgba(160, 160, 233, 0.3) !important;
  color: #12104c !important;
  box-shadow: none;
  padding: 5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #12104c !important;
  font-family: circe, sans-serif !important;
  font-weight: 200 impotant !important;
  margin: 10px;
}

.custModifyPw:hover {
  color: #12104c !important;
  border: 1px solid rgba(18, 16, 76, 0.7) !important;
  background-color: #ffffff;
}

.custHelp {
  background-color: #ffffff !important;
  border-radius: 30px;
  border: 1px solid rgba(160, 160, 233, 0.3) !important;
  color: #12104c !important;
  box-shadow: none;
  padding: 5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #12104c !important;
  font-family: circe, sans-serif !important;
  font-weight: 200 impotant !important;
  margin: 10px;
}

.custHelp:hover {
  color: #12104c !important;
  border: 1px solid rgba(18, 16, 76, 0.7) !important;
  background-color: #ffffff;
}

.custButton {
  background-color: #ffffff !important;
  border-radius: 30px;
  border: 1px solid rgba(160, 160, 233, 0.3) !important;
  color: #12104c !important;
  box-shadow: none;
  padding: 5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #12104c !important;
  font-family: circe, sans-serif !important;
  font-weight: 200 impotant !important;
  margin: 10px;
}

.custButton:hover {
  color: #12104c !important;
  border: 1px solid rgba(18, 16, 76, 0.7) !important;
  background-color: #ffffff;
}

.custConfirmButton {
  background-color: #ffffff !important;
  border-radius: 30px;
  border: 1px solid rgba(160, 160, 233, 0.3) !important;
  color: #12104c !important;
  box-shadow: none;
  padding: 5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #12104c !important;
  font-family: circe, sans-serif !important;
  font-weight: 200 impotant !important;
  margin: 10px;
}

.custConfirmButton:hover {
  color: #12104c !important;
  border: 1px solid rgba(18, 16, 76, 0.7) !important;
  background-color: #ffffff;
}

.custAnswerButton {
  background-color: #ffffff !important;
  border-radius: 30px;
  border: 1px solid rgba(160, 160, 233, 0.3) !important;
  color: #12104c !important;
  box-shadow: none;
  padding: 5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #12104c !important;
  font-family: circe, sans-serif !important;
  font-weight: 200 impotant !important;
  margin: 10px;
}

.custAnswerButton:hover {
  color: #12104c !important;
  border: 1px solid rgba(18, 16, 76, 0.7) !important;
  background-color: #ffffff;
}

.gwt-Button {
  background-color: #ffffff !important;
  border-radius: 30px;
  border: 1px solid rgba(160, 160, 233, 0.3) !important;
  color: #12104c !important;
  box-shadow: none;
  padding: 5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #12104c !important;
  font-family: circe, sans-serif !important;
  font-weight: 200 impotant !important;
  margin: 10px;
}

.gwt-Button:hover {
  color: #12104c !important;
  border: 1px solid rgba(18, 16, 76, 0.7) !important;
  background-color: #ffffff;
}

a {
  color: #12104c !important;
}

label {
  color: #12104c !important;
}

.gwt-Button.custGoToLoginButton {
  color: #12104c !important;
}

.custGoToLoginButton [class^="icon-"] {
  color: #12104c !important;
}

i {
  color: #12104c !important;
  font-size: 14px !important;
}

.x-panel-body {
  border: 1px solid rgba(160, 160, 233, 0.1) !important;
  padding: 5px !important;
  background: white !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.x-panel-body .x-panel-body-noheader {
  border: none !important;
}

.x-panel-header {
  font-family: circe, sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  color: #12104c !important;
  background-color: white !important;
  border: 1px solid rgba(160, 160, 233, 0.1) !important;
  padding: 5px !important;
  padding-left: 15px !important;
}

#mikrono.custMikronoLoggedIn {
  padding: 20px !important;
  background: white !important;
  box-shadow: none !important;
}

.custFormHeader {
  font-weight: 200 !important;
  font-size: 20px !important;
  color: inherit !important;
}

.custQuestion {
  font-weight: 200 !important;
  font-size: 16px !important;
  color: inherit !important;
}

.x-btn-text {
  background-color: #ffffff !important;
  border-radius: 30px;
  border: 1px solid rgba(18, 16, 76, 0.3) !important;
  color: #12104c !important;
  box-shadow: none;
  padding: 5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #12104c !important;
  font-family: circe, sans-serif !important;
  font-weight: 200 impotant !important;
  margin: 10px;
}

.icon-user-md {
  color: #12104c !important;
}

.icon-edit {
  color: #12104c !important;
}

.icon-question-sign {
  color: #12104c !important;
}

.custErrorMessage {
  color: #414141 !important;
  background: white !important;
  display: inline-block !important;
}

.gwt-HTML {
  background-color: white !important;
  color: red !important;
  padding: 20px;
}

#x-auto-5 {
  color: #12104c !important;
  font-size: 24px !important;
}

.gwt-PopupPanel .alertPopup {
  background-color: white !important;
  color: #12104c !important;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff !important;
  font-family: circe, sans-serif;
  width: 100%;
  padding: 2%;
  color: #12104c;
}

html {
  height: 100%;
  width: 100%;
}

#logo img {
  height: 30px;
  margin-bottom: 1%;
}

.lang-nav {
  float: right;
}

.lang-nav a {
  font-size: 13px;
  color: #12104c;
  font-weight: 400;
  font-style: normal;
}

.lang-nav a:hover {
  color: rgba(18, 16, 76, 0.7);
}

.lang-nav a:active {
  color: #12104c;
}

.lang-nav a:link {
  color: #12104c;
}

.lang-nav a:visited {
  color: #12104c;
}

.navbar-inner {
  width: 100%;
  margin-bottom: 2%;
}

form {
  font-size: 14px;
}

.navbar.transparent.navbar-inverse #text {
  font-size: 12px;
  color: #12104c;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0, 0, 0, 0);
}

.logo img {
  height: 30px;
  margin-bottom: 1%;
}

.navbar-inner {
  width: 100%;
}

form {
  font-size: 14px;
}

select {
  text-align: right;
  border-radius: 24px;
  padding: 5px;
  font-weight: 400;
  appearance: none;
  background-image: transparent !important;
  padding-left: 20px;
  padding-right: 20px;
  border: 0.5px solid rgba(18, 16, 76, 0.3);
}

select #select {
  font-size: 14px;
  background-color: transparent !important;
  color: #12104c;
  cursor: pointer;
  border: none;
}

select::-ms-expand {
  display: none;
}

select:hover {
  border-color: rgba(18, 16, 76, 0.7);
}

#custom-select {
  background-color: transparent !important;
  font-size: 24px;
  font-weight: 400;
  display: inline;
  border: 0.5px solid rgba(18, 16, 76, 0.3);
}

option {
  font-size: 14px;
}

.logo-home img {
  height: 40px;
  margin-bottom: 1%;
}

.logo-title {
  font-family: circe, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 1%;
  color: #12104c;
}

.logo-address {
  font-family: circe, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 1%;
  color: #12104c;
}

.home-layout {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-top: 7%;
}

.home-container {
  width: 30%;
  border-radius: 10px;
  padding: 2%;
  padding-bottom: 3%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.5px solid rgba(18, 16, 76, 0.3);
}

.container-fluid {
  padding: 0;
}

.home-text {
  font-size: 18px;
  font-weight: 400;
  margin: 1%;
  color: #12104c;
  text-align: center;
  font-family: circe, sans-serif;
  font-style: normal;
}

.mikrono-box {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.doctor-picture {
  border-radius: 50%;
  width: 7vw;
  height: 7vw;
}

.doctor-name {
  font-family: circe, sans-serif;
  font-weight: 400;
  font-size: 32px;
  margin-top: 10px;
  color: #12104c;
}

.doctor-job {
  font-weight: 300;
  font-size: 24px;
  color: #12104c;
  margin-bottom: 15px;
}

.doctor-school {
  font-size: 12px;
}

.doctor-phone {
  text-decoration: none;
  font-size: 14px;
  color: #12104c;
  font-weight: 400;
  font-style: normal;
}

.doctor-phone i {
  font-style: normal;
  padding-right: 3%;
  text-decoration: none;
}

.doctor-phone i:hover {
  color: rgba(18, 16, 76, 0.7);
  text-decoration: none;
}

.doctor-phone i::before {
  font-size: 22px;
  color: #12104c;
  position: relative;
  margin-bottom: 2px;
  text-decoration: none;
}

.doctor-phone a {
  color: #12104c;
}

.doctor-phone a:hover {
  color: rgba(18, 16, 76, 0.7);
  text-decoration: none;
}

.doctor-phone a:active {
  color: #12104c;
  text-decoration: none;
}

.doctor-phone a:link {
  color: #12104c;
  text-decoration: none;
}

.doctor-phone a:visited {
  color: #12104c;
  text-decoration: none;
}

.doctor-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2%;
  margin-bottom: 2%;
}

.doctor-icons-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}

.doctor-icon-container-home {
  margin-right: 40px;
  margin-left: 40px;
}

.doctor-icon-container {
  margin-right: 40px;
}

.icon-box h6 {
  font-family: circe, sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px;
  color: #12104c;
  text-decoration: none !important;
  margin-top: 5px;
  text-align: center;
  font-style: normal;
}

.icon-box h6:hover {
  text-decoration: none;
  color: rgba(18, 16, 76, 0.7);
}

.icon-box i {
  margin: 1%;
  text-align: center;
  text-decoration: none;
  color: #12104c;
}

.icon-box i:hover {
  text-decoration: none;
  color: rgba(18, 16, 76, 0.7);
}

.icon-box i::before {
  font-size: 18px;
}

.icon-box a:hover {
  text-decoration: none;
  color: rgba(18, 16, 76, 0.7);
}

.icon-box a:link {
  text-decoration: none;
}

.icon-box a:active {
  text-decoration: none;
}

.icon-box a:visited {
  text-decoration: none;
}

.doctor-spec-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #12104c;
}

.doctor-spec-title a:hover {
  text-decoration: none;
}

.doctor-spec-title a:link {
  text-decoration: none;
}

.doctor-spec-title a:active {
  text-decoration: none;
}

.doctor-spec-title a:visited {
  text-decoration: none;
}

.doctor-description {
  font-size: 16px;
}

#line-text {
  height: 2px;
  border-width: 1px;
  color: #12104c;
  background-color: #ffffff;
}

@media screen and (max-width: 600px) {
  button {
    font-size: 12px;
  }
  .lang-nav {
    font-size: 20px !important;
    align-self: flex-end;
  }
  #select {
    margin-top: 2%;
    text-align: center;
    font-family: circe, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .navbar-inner {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .logo img {
    width: 95%;
  }
  .logo-home img {
    width: 60%;
    align-items: center;
  }
  .container {
    width: 100%;
    padding: 4%;
  }
  .home-layout {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-top: 10%;
  }
  .home-container {
    width: 80%;
    border-radius: 10px;
    padding: 10%;
    padding-bottom: 12%;
    margin: 0 auto;
  }
  .home-text {
    font-size: 16px;
    line-height: normal;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .doctor-name {
    font-size: 21px;
  }
  .doctor-job {
    font-size: 18px;
  }
  .doctor-description {
    width: 100%;
    font-size: 14px;
  }
  .doctor-picture {
    width: 20vw;
    height: 20vw;
  }
  #mikrono {
    padding: 0%;
    height: 100%;
    width: 100%;
    margin: 0px;
  }
}
/*# sourceMappingURL=style.css.map */